<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.kokcolima.link"
	versionCode="18"
    version   = "0.0.18">

<name>The Link</name>

<description>
Dealing with spirits ...
</description>

<author href="https://karaokulta.com" email="kokcolima@gmail.com">
KaraOkulta Games [Colima]
</author>

<preference name="phonegap-version" value="2.0.0" />
<preference name="orientation" value="default" />
<preference name="target-device" value="universal" />
<preference name="fullscreen" value="false" />
<preference name="webviewbounce" value="true" />
<preference name="prerendered-icon" value="false" />
<preference name="stay-in-webview" value="true" />
<preference name="ios-statusbarstyle" value="black-opaque" />
<preference name="exit-on-suspend" value="true" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="disable-cursor" value="false" />
<preference name="android-minSdkVersion" value="8" />
<preference name="android-maxSdkVersion" value="16" />
<preference name="android-installLocation" value="internalOnly" />

<!--<feature name="http://api.phonegap.com/1.0/battery"/>-->
<feature name="http://api.phonegap.com/1.0/camera"/>
<!--<feature name="http://api.phonegap.com/1.0/contacts"/>-->
<feature name="http://api.phonegap.com/1.0/file"/>
<!--<feature name="http://api.phonegap.com/1.0/geolocation"/>-->
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<!--<feature name="http://api.phonegap.com/1.0/notification"/>-->

<icon src="icon.png" />
<gap:splash src="splash.png" />

<!-- iOS Icons & Splash Screens-->

<icon src="icons/ios/icon.png" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" width="114" height="114" />

<gap:splash src="splash/ios/Default.png" width="320" height="480" />
<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />

<!-- Android Icons & Splash Screens-->
<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> 

<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<!-- BlacBerry Icons & Splash Screens-->
<icon src="icons/bb/icon.png" gap:platform="blackberry" />
<icon src="icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/>

<gap:splash src="splash/bb/splash.png" gap:platform="blackberry" />

<!-- Windows Phone Icons & Splash Screens-->
<icon src="icons/winphone/icon.png" gap:platform="winphone" />
<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />

<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />

<!-- WebOS Icons & Splash Screens-->
<icon src="icons/webos/icon.png" gap:platform="webos" />
<icon src="icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" />

</widget>
